<html>
  <style>
#report {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#report td, #report th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#report tr:nth-child(even){background-color: #f2f2f2;}

#report tr:hover {background-color: #ddd;}

#report th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
</style>
  <body>
    <p>{{description}}</p>
    {{#each data}}
      <h2>Target url : {{this.targetUrl}}</h2>
      <table id="report" border="1">
        <tr>
          <th>key/Month</th>
          {{#each this.month}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
        {{#each this.row}}
          <tr>
            {{#each this}}
              <td>{{this}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
      <hr>
    {{/each}}
  </body>
</html>
